body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(116deg, #1d3557, #ffffff);
}

.container {
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d3557;
    box-shadow: 2px 2px 10px #00000080;

    & #username {
        font-size: 1.7rem;

        color: #ffffff;
    }

    & #user-address {
        margin-block: 20px;
    
        & input {
            margin-block: 7px;
            border-radius: 7px;
            background-color: #eee;
        }

        & .management-buttons {
            margin-block: 10px;
            display: flex;
            justify-content: center;
    
            & .save {
                background-color: #fff;
            }
        
            & .delete-account {
                border: none;
                background-color: var(--importance-color);
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        width: 50%;

        & input {
            font-size: 1.8rem;
        }

        & button {
            font-size: 1.3rem;
        }

        & .save:hover{
            color: green;
        }
    }
}