@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

:root {
  --main-background-color: #eee;
  --main-foreground-color: #1d3557;
  --importance-color: #d90429;
}

body {
  font-size: 16px;
  background-color: var(--main-background-color);
  color: var(--main-foreground-color);
}

* {
  font-family: 'Inria Sans', sans-serif;
}

input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  color: #1d3557;
}

button.default,
a.default {
  border: 2px solid;
  border-radius: 55px;
  padding: 7px 15px;
  margin-inline: 5px;
  font-size: 1.1rem;
  text-align: center;
  background-color: transparent;
  border-color: var(--main-foreground-color);
}

a.default:active,
button.default:active {
  transform: scale(0.9);
  transition: 0.6s;
}

a.default:focus,
button.default:focus{
    outline: 2px solid #007BFF; /* Change the outline color */
    outline-offset: 4px;        /* Adds space between the outline and button */
    background-color: #f0f8ff;  /* Optional: Change background color */
    color: #007BFF;
}

@media only screen and (min-width: 1100px) {
  a.default:hover,
  button.default:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--main-foreground-color);

    & .fa-solid {
      color: #fff;
    }
  }
}